/**
 * @name system24 (tokyo night storm)
 * @description a tui-style discord theme. based on tokyo night storm theme (https://github.com).
 * @author refact0r
 * @version 2.0.0
 * @invite nz87hXyvcy
 * @website https://github.com
 * @source https://github.com/blob/master/theme/system24-tokyo-night.theme.css
 * @authorId 508863359777505290
 * @authorLink https://refact0r.dev
*/

/* import theme modules */
@import url('https://refact0r.github.io/system24/build/system24.css');

body {
    /* font, change to '' for default discord font */
    --font: 'JetBrains Mono'; /* change to '' for default discord font */
    --code-font: 'JetBrains Mono'; /* change to '' for default discord font */
    font-weight: 300; /* text font weight. 300 is light, 400 is normal. DOES NOT AFFECT BOLD TEXT */
    letter-spacing: -0.05ch; /* decreases letter spacing for better readability. recommended on monospace fonts.*/

    /* sizes */
    --gap: 12px; /* spacing between panels */
    --divider-thickness: 4px; /* thickness of unread messages divider and highlighted message borders */
    --border-thickness: 2px; /* thickness of borders around main panels. DOES NOT AFFECT OTHER BORDERS */
    --border-hover-transition: 0.2s ease; /* transition for borders when hovered */

    /* animation/transition options */
    --animations: on; /* off: disable animations/transitions, on: enable animations/transitions */
    --list-item-transition: 0.2s ease; /* transition for list items */
    --dms-icon-svg-transition: 0.4s ease; /* transition for the dms icon */

    /* top bar options */
    --top-bar-height: var(--gap); /* height of the top bar (discord default is 36px, old discord style is 24px, var(--gap) recommended if button position is set to titlebar) */
    --top-bar-button-position: titlebar; /* off: default position, hide: hide buttons completely, serverlist: move inbox button to server list, titlebar: move inbox button to channel titlebar (will hide title) */
    --top-bar-title-position: off; /* off: default centered position, hide: hide title completely, left: left align title (like old discord) */
    --subtle-top-bar-title: off; /* off: default, on: hide the icon and use subtle text color (like old discord) */

    /* window controls */
    --custom-window-controls: off; /* off: default window controls, on: custom window controls */
    --window-control-size: 14px; /* size of custom window controls */

    /* dms button options */
    --custom-dms-icon: off; /* off: use default discord icon, hide: remove icon entirely, custom: use custom icon */
    --dms-icon-svg-url: url(''); /* icon svg url. MUST BE A SVG. */
    --dms-icon-svg-size: 90%; /* size of the svg (css mask-size property) */
    --dms-icon-color-before: var(--icon-subtle); /* normal icon color */
    --dms-icon-color-after: var(--white); /* icon color when button is hovered/selected */
    --custom-dms-background: off; /* off to disable, image to use a background image (must set url variable below), color to use a custom color/gradient */
    --dms-background-image-url: url(''); /* url of the background image */
    --dms-background-image-size: cover; /* size of the background image (css background-size property) */
    --dms-background-color: linear-gradient(70deg, var(--blue-2), var(--purple-2), var(--red-2)); /* fixed color/gradient (css background property) */

    /* background image options */
    --background-image: off; /* off: no background image, on: enable background image (must set url variable below) */
    --background-image-url: url(''); /* url of the background image */

    /* transparency/blur options */
    /* NOTE: TO USE TRANSPARENCY/BLUR, YOU MUST HAVE TRANSPARENT BG COLORS. FOR EXAMPLE: --bg-4: hsla(220, 15%, 10%, 0.7); */
    --transparency-tweaks: off; /* off: no changes, on: remove some elements for better transparency */
    --remove-bg-layer: off; /* off: no changes, on: remove the base --bg-3 layer for use with window transparency (WILL OVERRIDE BACKGROUND IMAGE) */
    --panel-blur: off; /* off: no changes, on: blur the background of panels */
    --blur-amount: 12px; /* amount of blur */
    --bg-floating: var(--bg-3); /* set this to a more opaque color if floating panels look too transparent. only applies if panel blur is on  */

    /* other options */
    --small-user-panel: on; /* off: default user panel, on: smaller user panel like in old discord */

    /* unrounding options */
    --unrounding: on; /* off: default, on: remove rounded corners from panels */

    /* styling options */
    --custom-spotify-bar: on; /* off: default, on: custom text-like spotify progress bar */
    --ascii-titles: on; /* off: default, on: use ascii font for titles at the start of a channel */
    --ascii-loader: system24; /* off: default, system24: use system24 ascii loader, cats: use cats loader */

    /* panel labels */
    --panel-labels: on; /* off: default, on: add labels to panels */
    --label-color: #c0caf5; /* labels use storm white */
    --label-font-weight: 500; /* font weight of labels */
}

/* color options */
:root {
    --colors: on; /* off: discord default colors, on: midnight custom colors */

    /* text colors */
    --text-0: var(--bg-3); /* text on colored elements */
    --text-1: #f7f8fc; /* other normally white text (Storm light) */
    --text-2: #c0caf5; /* headings and important text */
    --text-3: #a9b1d6; /* normal text */
    --text-4: #565f89; /* icon buttons and channels */
    --text-5: #414868; /* muted channels/chats and timestamps */

    /* background and dark colors */
    --bg-1: #1a1d2a; /* dark buttons when clicked */
    --bg-2: #1f2335; /* dark buttons */
    --bg-3: #1f2335; /* spacing, secondary elements (Storm Sidebar/Base) */
    --bg-4: #24283b; /* main background color (Storm BG) */
    --hover: rgba(86, 95, 137, 0.15); /* channels and buttons when hovered */
    --active: rgba(86, 95, 137, 0.3); /* channels and buttons when clicked or selected */
    --active-2: rgba(86, 95, 137, 0.4); /* extra state for transparent buttons */
    --message-hover: rgba(0, 0, 0, 0.15); /* messages when hovered */

    /* accent colors */
    --accent-1: var(--blue-1); /* links and other accent text */
    --accent-2: var(--blue-2); /* small accent elements */
    --accent-3: var(--blue-3); /* accent buttons */
    --accent-4: var(--blue-4); /* accent buttons when hovered */
    --accent-5: var(--blue-5); /* accent buttons when clicked */
    --accent-new: var(--accent-2); /* stuff that's normally red like mute/deafen buttons */
    --mention: linear-gradient(to right, color-mix(in hsl, var(--accent-2), transparent 90%) 40%, transparent); /* background of messages that mention you */
    --mention-hover: linear-gradient(to right, color-mix(in hsl, var(--accent-2), transparent 95%) 40%, transparent); /* background of messages that mention you when hovered */
    --reply: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 90%) 40%, transparent); /* background of messages that reply to you */
    --reply-hover: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 95%) 40%, transparent); /* background of messages that reply to you when hovered */

    /* status indicator colors */
    --online: var(--green-2); /* change to #43a25a for default */
    --dnd: var(--red-2); /* change to #d83a42 for default */
    --idle: var(--yellow-2); /* change to #ca9654 for default */
    --streaming: var(--purple-2); /* change to #593695 for default */
    --offline: var(--text-4); /* change to #83838b for default offline color */

    /* border colors */
    --border-light: rgba(192, 202, 245, 0.15); /* general light border color */
    --border: rgba(192, 202, 245, 0.3); /* general normal border color */
    --border-hover: #c0caf5; /* border color of panels when hovered */
    --button-border: rgba(0, 0, 0, 0); /* neutral border color of buttons */

    /* base colors (Tokyo Night Storm Palette) */
    --red-1: #ff8df3;
    --red-2: #ff757f;
    --red-3: #f7768e;
    --red-4: #e06c75;
    --red-5: #c53b53;

    --green-1: #b9f27c;
    --green-2: #9ece6a;
    --green-3: #73daca;
    --green-4: #41a6b5;
    --green-5: #3194a0;

    --blue-1: #c0caf5; /* All blues replaced with storm white */
    --blue-2: #c0caf5;
    --blue-3: #c0caf5;
    --blue-4: #c0caf5;
    --blue-5: #c0caf5;

    --yellow-1: #ffdfa4;
    --yellow-2: #e0af68;
    --yellow-3: #ff9e64;
    --yellow-4: #ff79c6;
    --yellow-5: #d67c1e;

    --purple-1: #bb9af7;
    --purple-2: #9d7cd8;
    --purple-3: #b4f9f8;
    --purple-4: #a9b1d6;
    --purple-5: #787c99;
}
